<% provide(:title, '所有讨论') %>

<h4 class="title-border-left">
  所有讨论
</h4>

<hr>

<table class="table table-bordered">
  <tr>
    <th class="t-center">标题</th>
    <th class="t-center">讨论发起人</th>
    <th class="t-center">回复数</th>
  </tr>

<% @discusses.each do |discuss| %>
  <tr>
    <td><%= link_to discuss.title, discuss %></td>
    <td class="t-center">
      <% @users.each do |u| %>
        <% if discuss.user_id.to_s == u.id.to_s %>
          <%= image_tag u.avatar.url(:thumb), class:'table-avatar' %>
        <% end %>
      <% end %>
    </td>
    <td class="t-center">
      <%= discuss.id %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Discuss', new_discuss_path, class:'btn btn-danger' %>
