<!-- 站内信操作面板 -->

<div class="pull-right" style="margin-top: -35px; margin-right:502px; ">
  <a href="/messages/new" class="btn btn-danger"><i class="icon icon-white icon-edit"></i> 写消息</a>
</div>

<div class="pull-right btn-group" style="margin-top: -35px; margin-right:245px; ">
  <a href="/inbox" class="btn"><i class="icon icon-folder-close"></i> 收信箱</a>
  <a href="/outbox" class="btn"><i class="icon icon-circle-arrow-up"></i> 发信箱</a>
  <a href="/trash" class="btn"><i class="icon icon-trash"></i> 回收站</a>
</div>

<form class="input-append pull-right" style="margin-top: -35px;">
  <input type="text" class="input-medium search-query">
  <button type="submit" class="btn">Search</button>
</form>

<hr>

