<!-- title for the page -->
<h3 class="title-border-left">
  All Projects
</h3>



<!-- order by time -->
<div class="btn-group pull-right" style="margin-top: -46px;">
  <button class="btn">时间排序</button>
  <button class="btn dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li class="divider"></li>
    <li class="nav-header">按照起始时间</li>
    <li class="divider"></li>
    <li>
      <a href="">升序</a>
    </li>
    <li>
      <a href="">降序</a>
    </li>
    <li class="divider"></li>
    <li class="nav-header">按照结束时间</li>
    <li>
      <a href="">升序</a>
    </li>
    <li>
      <a href="">降序</a>
    </li>
    <li class="divider"></li>
  </ul>
</div>

<form class="input-append pull-right" style="margin-top: -46px;margin-right: 120px;">
  <input type="text" class="input-medium search-query">
  <button type="submit" class="btn">Search</button>
</form>

<hr>

<table class="table table-bordered table-hover">
  <tr>
    <th class="table-mimi span3">项目名称</th>
    <th class="table-mimi">项目描述</th>
    <th class="table-mimi span2">起始时间</th>
    <th class="table-mimi span2">结束时间</th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td class="table-mimi"><%= link_to project.name, project %></td>
    <td class="table-mimi"><%= project.description %></td>
    <td class="table-mimi"><%= project.start_at.strftime("%Y-%m-%d") %></td>
    <td class="table-mimi"><%= project.end_at.strftime("%Y-%m-%d") %></td>

  </tr>
<% end %>
</table>