<h1>Listing projects</h1>

<table class="table table-bordered table-hover">
  <tr>
    <th class="table-mimi">Name</th>
    <th class="table-mimi">Description</th>
    <th class="table-mimi">Start at</th>
    <th class="table-mimi">End at</th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%= link_to project.name, project %></td>
    <td><%= project.description %></td>
    <td><%= project.start_at %></td>
    <td><%= project.end_at %></td>

  </tr>
<% end %>
</table>